{{!< default}}

{{! Everything inside the #author tags pulls data from the author }}
<section id="main" class="container">
{{#author}}
<div class="row uniform">
    <div class="author-meta 6u$">
        <h2 class="author-title">{{name}}</h2>
        <p class="author-meta">
            {{#if location}}<strong>Location: </strong>{{location}}<br/>{{/if}}
            {{#if website}}<strong>Website: </strong><a href="{{website}}">{{website}}</a><br/>{{/if}}
        </p>
        <p class="author-bio">{{bio}}</p>
    </div>
</div>
{{/author}}

{{! The main content area on the homepage }}
    <div class="row 200% uniform post-loop">
        {{! The tag below includes the post loop - partials/loop.hbs }}
        {{> "loop"}}
    </div>
</section>
