{{!< default}}

{{#post}}

<section id="main" class="container">
        <div class="row uniform">            
            <article class="{{post_class}} single 12u$">
                <div class="post-container">
                    <header class="post-header">
            <h1 class="post-title {{#if featured}}post-featured{{/if}}"><a href="{{url}}">{{title}}</a></h1>
            <p class="post-meta">by {{author}} on <time class="blog-date" datetime="{{date format='MMMM DD, YYYY'}}">{{date format="MMMM DD, YYYY"}}</time></p>
            {{#if image}}<a href="{{url}}" class="feature-image"><img src="{{image}}" /></a>{{/if}}
        </header>
                    <section class="post-content">{{content}}</section>
                </div>
                <div class="comment-area">
                    {{>comment-box}}
                </div>
            </article>
        </div>
</section>
{{/post}}
